lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
.sass-cache
.DS_Store
.grunt

# we don't need to push these files
# they will be copied by the grunt copy task
gh-pages/assets/dist
